<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<%- include('../common/_head');-%>

	</head>

	<body class="app sidebar-mini" style="font-family: inter-regular;">

		<!-- GLOBAL-LOADER -->
		<div id="global-loader">
			<img src="../../assets/images/svgs/loader.svg" class="loader-img" alt="Loader">
		</div>

		<div class="page">
			<div class="page-main">
				<!-- HEADER -->
				
			
				<div class="page">
					<div class="page-main">
						<!-- HEADER -->
					   
						<%- include('../common/_header');-%>
						<!-- HEADER END -->
			
						<!-- APP SIDEBAR -->
			
						<%- include('../common/_leftsidebar');-%>
						
				<!-- APP SIDEBAR -->
				
			<!-- FOOTER -->
			<%- include('../common/_footer');-%>
			<!-- FOOTER CLOSED -->
		</div>

	</body>
</html>