
<!doctype html>
<html lang="en" dir="ltr">
	<head>

		<!-- Meta data -->
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta content="Slica – Bootstrap Responsive Flat Admin Dashboard HTML5 Template" name="description">
		<meta content="Spruko Technologies Private Limited" name="author">
		<meta name="keywords" content="admin site template, html admin template,responsive admin template, admin panel template, bootstrap admin panel template, admin template, admin panel template, bootstrap simple admin template premium, simple bootstrap admin template, best bootstrap admin template, simple bootstrap admin template, admin panel template,responsive admin template, bootstrap simple admin template premium"/>

		<!--favicon -->
		<link rel="icon" href="../../assets/images/lummang.png" type="image/x-icon"/>

		<!-- TITLE -->
		<title>Lummang</title>

		<!-- DASHBOARD CSS -->
		<link href="../../assets/css/style.css" rel="stylesheet"/>
		<link href="../../assets/css/color-skins/color1.css" rel="stylesheet"/>
		<link href="../../assets/css/skins-modes.css" rel="stylesheet"/>

		<!-- HORIZONTAL-MENU CSS -->
		<link href="../../assets/plugins/horizontal-menu/dropdown-effects/fade-down.css" rel="stylesheet">
		<link href="../../assets/plugins/horizontal-menu/horizontal-menu.css" rel="stylesheet">

		<!--C3 CHARTS CSS -->
		<link href="../../assets/plugins/charts-c3/c3-chart.css" rel="stylesheet"/>

		<!-- SINGLE-PAGE CSS -->
		<link href="../../assets/plugins/single-page/css/single-page.css" rel="stylesheet" type="text/css">

		<!--C3.JS CHARTS PLUGIN -->
		<link href="../../assets/plugins/charts-c3/c3-chart.css" rel="stylesheet"/>

		<!-- CUSTOM SCROLL BAR CSS-->
		<link href="../../assets/plugins/jquery.mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet"/>

		<!--- FONT-ICONS CSS -->
		<link href="../../assets/css/icons.css" rel="stylesheet"/>
		<link rel="stylesheet" href="../assets/css/login.css">
		<link rel="stylesheet" href="../assets/css/header.css">
		<link rel="stylesheet" href="../../assets/css/register.css">




  </head>
  
  <body class="bg-white" style="font-family: inter-regular;"> 
	<div class="app">

		<!-- BACKGROUND-IMAGE -->
		<div class="login-img">

			<!-- GLOABAL LOADER -->
			<div id="global-loader">
				<img src="../../assets/images/svgs/loader.svg" class="loader-img" alt="Loader">
			</div>

			<div class="page h-100">
				<div class="logo">
				    <!-- CONTAINER OPEN -->
					<div class="col col-login mx-auto">
						<div class="text-center">
							<img src="../../assets/images/lummang.png" width="130px" height="67px" class="header-brand-img" id="img" alt="">
						</div>
					</div>
					<% if(error !=''){%>
						<div class="alert alert-warning alert-dismissible fade show" role="alert" id="error">
							<strong>Sorry!</strong> <%= error %>
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						  </div>
						  <% } %>
					<div class="container-login100">
						<div class="wrap-login100 p-6">
							<form method="post" action="/register"   onsubmit="return myfun()" class="login100-form validate-form"  autocomplete="off">

									 
								<span class="login100-form-title">
									Registration

					
								</span>

								
								<div class="wrap-input100 validate-input" >
									<input class="input100" type="text" name="username" value="" id="username" placeholder="User Name">
									
									<span class="focus-input100"></span>
									<span class="symbol-input100">
										<i class="mdi mdi-account" aria-hidden="true"></i>
									</span>
									<span id="message" style="color: red;"></span> 
								</div>
								<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
									<input class="input100" type="email" name="email" placeholder="Email" id="email"
									value=""
>
									
									<span class="focus-input100"></span>
									<span class="symbol-input100">
										<i class="zmdi zmdi-email" aria-hidden="true"></i>
									</span>
									<span id="messages" style="color: red;"></span> 
									
								</div>

								<div class="wrap-input100 validate-input" data-validate = "Phoneno is required">
									<input class="input100" type="Phoneno" name="Phoneno" placeholder="Phone No" value="" id="Phoneno"> 
									<span class="focus-input100"></span>
									<span class="symbol-input100">
										<i class="zmdi zmdi-phone" aria-hidden="true"></i>
									</span>
									<span id="messagess" style="color: red;"></span> 
								</div>

								<div class="wrap-input100 validate-input" data-validate = "Password is required">
									<input class="input100" type="password" name="password" placeholder="Password"
									id="password" value="">
									<span class="focus-input100"></span>
									<span class="symbol-input100">
										<i class="zmdi zmdi-lock" aria-hidden="true"></i>
									</span>
									<span id="messagesss" style="color: red;"></span> 
								</div>
								<div class="wrap-input100 validate-input" data-validate = "Password is required">
									<input class="input100" type="password" name="confirmpassword" placeholder="Confirm Password" value="" id="confirmpassword">
									<span class="focus-input100"></span>
									<span class="symbol-input100">
										<i class="zmdi zmdi-lock" aria-hidden="true"></i>
									</span>
									<span id="messagessss" style="color: red;"></span> 
								</div>
								<label class="custom-control custom-checkbox mt-4">
									<input type="checkbox" class="custom-control-input">
									<span class="custom-control-label">Agree the <a href="terms.html">terms and policy</a></span>
								</label>
								<div class="container-login100-form-btn">
									<button type="submit" class="login100-form-btn btn-primary" value="submit">
										Register
									</button>
								</div>
								<div class="text-center pt-3">
									<p class="text-dark mb-0">Already have account?<a href="/login" class="text-primary ml-1">Sign In</a></p>
								</div>
								<div class=" flex-c-m text-center mt-3">
								    <p>Or</p>
									<div class="social-icons">
										<ul>
											<li><a class="btn  btn-social btn-block"><i class="fa fa-google-plus text-google-plus"></i> Sign up with Google</a></li>
											<li><a class="btn  btn-social btn-block mt-2"><i class="fa fa-facebook text-facebook"></i> Sign in with Facebook</a></li>
										</ul>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- CONTAINER CLOSED -->
				</div>
			</div>
		</div>
		<!-- BACKGROUND-IMAGE CLOSED -->

		
		<script>
		function myfun(){
			var a=document.getElementById("username").value;
		
			if (a==""){
				document.getElementById("message").innerHTML="** Please fill username";
				return false;
			}
			else{
				document.getElementById("message").innerHTML="";
				
			}

			
		
		var b=document.getElementById("email").value;
		
			if (b==""){
				document.getElementById("messages").innerHTML="** Please fill valid email";
				return false;
			}
			else{
				document.getElementById("messages").innerHTML="";
				
			}
			if (b.indexOf('@')<= 0){
				document.getElementById("messages").innerHTML="** @ Invalid position";
				return false;
			}
			else{
				document.getElementById("messages").innerHTML="";
				
			}

			
		
		var c=document.getElementById("Phoneno").value;

		if(isNaN(c)){
				document.getElementById("messagess").innerHTML="** Please fill numeric phoneNo";
				return false;
			}
			else{
				document.getElementById("messagess").innerHTML="";
				
			}

			if (c==""){

				document.getElementById("messagess").innerHTML="** Please fill valid phoneNo";
				return false;
			}
			else{
				document.getElementById("messagess").innerHTML="";
				
			}


			if(c.length<10){
				document.getElementById("messagess").innerHTML="**Phone no must be 10 digit";
				return false;
			
			}
			else{
				document.getElementById("messagess").innerHTML="";
				
			}

			if(c.length>10){
				document.getElementById("messagess").innerHTML="**Phone no must be 10 digit";
				return false;
			}
			else{
				document.getElementById("messagess").innerHTML="";
				
			}

			if((c.charAt(0)!=9) && (c.charAt(0)!=8) && (c.charAt(0)!=7) && (c.charAt(0)!=6)){
				document.getElementById("messagess").innerHTML="**Phone no must start with 9,8,7,6";
				return false;
			}
			else{
				document.getElementById("messagess").innerHTML="";
				
			}



			var d=document.getElementById("password").value;
		
			if (d==""){
				document.getElementById("messagesss").innerHTML="** Please fill valid password";
				return false;
			}
			else{
				document.getElementById("messagesss").innerHTML="";
				
			}

			if(d.length<6){
				document.getElementById("messagesss").innerHTML="**Password must be 6 digit";
				return false;
			}
			else{
				document.getElementById("messagesss").innerHTML="";
				
			}


			if(d.length>6){
				document.getElementById("messagesss").innerHTML="**Password must be 6 digit";
				return false;
			}
			else{
				document.getElementById("messagesss").innerHTML="";
				
			}


			var e=document.getElementById("confirmpassword").value;
		
			
			if (e==""){
				document.getElementById("messagessss").innerHTML="** Please fill confirmpassword";
				return false;
			}
			else{
				document.getElementById("messagessss").innerHTML="";
				
			}

			if (e!=d){
				document.getElementById("messagessss").innerHTML="** password and confirmpassword must be same";
				return false;
			}
			else{
				document.getElementById("messagessss").innerHTML="";
				
			}


			
		}
			</script>



		<!-- JQUERY SCRIPTS -->
		<script src="../../assets/js/vendors/jquery-3.2.1.min.js"></script>

		<!-- BOOTSTRAP SCRIPTS -->
		<script src="../../assets/js/vendors/bootstrap.bundle.min.js"></script>

		<!-- SPARKLINE -->
		<script src="../../assets/js/vendors/jquery.sparkline.min.js"></script>

		<!-- CHART-CIRCLE -->
		<script src="../../assets/js/vendors/circle-progress.min.js"></script>

		<!-- RATING STAR -->
		<script src="../../assets/plugins/rating/rating-stars.js"></script>

		<!-- INPUT MASK PLUGIN-->
		<script src="../../assets/plugins/input-mask/input-mask.min.js"></script>

		<!-- CUSTOM SCROLL BAR JS-->
		<script src="../../assets/plugins/jquery.mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!-- CUSTOM JS-->
		<script src="../../assets/js/custom.js"></script>
		</div>

	</body>
</html>
