	<!-- FOOTER -->
    <footer class="footer left-footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-md-12 col-sm-12 text-center">
                    Copyrights © 2020-21. All rights reserved by <a   style="color: blue;">Lummang</a> || Design & Developed by : <a href="https://www.appman.in/"  style="color: blue;">Appman Technologies.</a> </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER CLOSED -->


    <!-- BACK-TO-TOP -->
		<a href="#top" id="back-to-top"><i class="fa fa-angle-double-up"></i></a>

		<!-- JQUERY SCRIPTS JS-->
		<script src="/js/vendors/jquery-3.2.1.min.js"></script>

		<!-- BOOTSTRAP SCRIPTS JS-->
		<script src="/js/vendors/bootstrap.bundle.min.js"></script>

		<!-- SPARKLINE JS-->
		<script src="/js/vendors/jquery.sparkline.min.js"></script>

		<!-- CHART-CIRCLE JS-->
		<script src="/js/vendors/circle-progress.min.js"></script>

		<!-- RATING STAR JS-->
		<script src="/plugins/rating/rating-stars.js"></script>

		<!-- INPUT MASK JS-->
		<script src="/plugins/input-mask/input-mask.min.js"></script>

		<!-- P-SCROLL JS -->
		<script src="/plugins/p-scroll/p-scroll.js"></script>
		<script src="/plugins/p-scroll/p-scroll-1.js"></script>

		<!--SIDEMENU JS-->
		<script src="/plugins/sidemenu/icon-sidemenu.js"></script>

		<!-- SIDEMENU-RESPONSIVE-TABS JS-->
		<script src="/plugins/sidemenu-responsive-tabs/js/sidemenu-responsive-tabs.js"></script>

		<!--LEFT-MENU JS-->
		<script src="/js/left-menu.js"></script>

		<!-- SIDEBAR JS -->
		<script src="/plugins/right-sidebar/right-sidebar.js"></script>

		<!-- CUSTOM JS-->
		<script src="/js/custom.js"></script>