	<!-- Meta data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta content="Slica – Bootstrap Responsive Flat Admin Dashboard HTML5 Template" name="description">
    <meta content="Spruko Technologies Private Limited" name="author">
    <meta name="keywords" content="admin site template, html admin template,responsive admin template, admin panel template, bootstrap admin panel template, admin template, admin panel template, bootstrap simple admin template premium, simple bootstrap admin template, best bootstrap admin template, simple bootstrap admin template, admin panel template,responsive admin template, bootstrap simple admin template premium"/>

    <!--favicon -->
    <link rel="icon" href="/images/brand/IMG-20211117-WA0002" type="image/x-icon"/>

    <!-- TITLE -->
    <title>Lummang</title>

    <!-- DASHBOARD CSS -->
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/color-skins/color1.css" rel="stylesheet"/>
    <link href="/css/skins-modes.css" rel="stylesheet"/>

    <!--SIDEMENU CSS-->
    <link rel="stylesheet" href="/plugins/sidemenu/icon-sidemenu.css">

    <!--C3 CHARTS CSS -->
    <link href="/plugins/charts-c3/c3-chart.css" rel="stylesheet"/>

    <!-- P-SCROll CSS -->
    <link href="/plugins/p-scroll/p-scroll.css" rel="stylesheet" type="text/css">

    <!--- FONT-ICONS CSS -->
    <link href="/css/icons.css" rel="stylesheet"/>

    <!-- SIDEBAR CSS -->
    <link href="/plugins/right-sidebar/right-sidebar.css" rel="stylesheet">