<!-- APP SIDEBAR -->
<aside class="app-sidebar" style="font-family: inter-regular;">
    <div class="app-sidebar__user">
        <div class="dropdown user-pro-body text-center">
            <div class="user-pic">
                <img src="/images/users/male/2.jpg" alt="user-img" class="avatar-xl rounded-circle mb-1">
            </div>
            <div class="user-info">
                <h6 class=" mb-0 font-weight-semibold">Jacob Allan</h6>
                <span class="text-muted app-sidebar__user-name text-sm">Web Developer</span>
            </div>
        </div>
    </div>
    <ul class="side-menu">
      
       
        <li class="slide">
            <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-package"></i><span class="side-menu__label">Masters</span><i class="angle fa fa-angle-right"></i></a>
            <ul class="slide-menu">
                <li><a href="createcategory" class="slide-item"> Create Category</a></li>
                <li><a href="allcategory" class="slide-item">Show Category</a></li>
                <li><a href="/createfilter" class="slide-item">Create Filter</a></li>
                <li><a href="/filterview" class="slide-item">Show Filter</a></li>
                <li><a href="/createfiltervalue" class="slide-item">Create  Filtervalue</a></li>
                <li><a href="/filtervalueview" class="slide-item">Show FilterValue</a></li>
                <li><a href="/createfiltersetting" class="slide-item">create filter listing</a></li>
                <li><a href="/FiltersettingView" class="slide-item">filter listing view</a></li>
                <li><a href="/createdealsoftheday" class="slide-item">create dealsoftheday</a></li>
                <li><a href="/viewdealsoftheday" class="slide-item">view dealsoftheday</a></li>
                <li><a href="/cms/imageslidercreate" class="slide-item">create imageslider</a></li>
                <li><a href="/imagesliderview" class="slide-item">view imageslider</a></li>
                <li><a href="/createdeliveryparty" class="slide-item">create deliveryparty</a></li>
                <li><a href="/deliverypartyview" class="slide-item">view deliveryparty</a></li>
                <li><a href="/createnewarrivals" class="slide-item">create newarrivals</a></li>
                <li><a href="/getviewnewarrivals" class="slide-item">getnewarrivals</a></li>
                <li><a href="/createsecondtwooffer" class="slide-item">create secondtoptwooffer</a></li>
                <li><a href="/secondtwoofferview" class="slide-item">second twooffer view</a></li>
                
                <li><a href="/createnewarrivalsitem" class="slide-item">create newarrivalsitem</a></li>
                <li><a href="/newarrivalsitemview" class="slide-item">newarrivalsitem view</a></li>
                <li><a href="/createbestseller" class="slide-item">create bstseller</a></li>
                <li><a href="/bestsellerview" class="slide-item">bestseller view</a></li>
               
                <li><a href="/createmostpopularitem" class="slide-item">create mostpopularitem</a></li>
                <li><a href="/mostpopularitemview" class="slide-item">mostpopularitemview</a></li>
                
                <li><a href="/createfeatureditem" class="slide-item">create feaureditem</a></li>
                <li><a href="/getfeatureditem" class="slide-item">featureditemview</a></li>
                
                
                <li><a href="/createhotdeals" class="slide-item">create hotdeals</a></li>
                <li><a href="/gethotdealsview" class="slide-item">view hotdeals</a></li>
                
                <li><a href="/createpromotionbanner" class="slide-item">create promotionbanner</a></li>
               <li><a href="/getpromotionbanner" class="slide-item">Promotion banner view</a></li>
                <li><a href="/createtopbestseller" class="slide-item">create topbestseller</a></li>
                <li><a href="/topbestsellerview" class="slide-item">view topbestseller</a></li>
                
                <li><a href="/createtopcategories" class="slide-item">create topcategories</a></li>
                <li><a href="/getViewTopcategories" class="slide-item">topcategories view</a></li>
                <li><a href="/createtoptwooffer" class="slide-item">create toptwooffers</a></li>
                <li><a href="/viewtoptwooffer" class="slide-item">view toptwooffers</a></li>
                <li><a href="/createtrendingproduct" class="slide-item">create trendingproduct</a></li>
                <li><a href="/gettrendingproduct" class="slide-item">trendingproduct view</a></li>
                <li><a href="/createtrendingproduct2" class="slide-item">create trendingproduct2</a></li>
                <li><a href="/gettrendingproduct2" class="slide-item">trendingproduct2 view</a></li>
                
                <li><a href="/createourclient" class="slide-item">create ourclients</a></li>
                 <li><a href="/ourclientsview" class="slide-item">view our clients</a></li>
                         
                </ul> 
        </li>  
       
        
    </ul>
</aside>
<!-- APP SIDEBAR CLOSED -->