<!-- FOOTER -->
<link rel="stylesheet" href="../assets/css/footer.css">


<footer class="footer appear-animate" id="foot" data-animation-options="{
    'name': 'fadeIn'
}">
    <div class="container" id="company" style="font-family: inter-regular;">
        <div class="footer-top">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="widget widget-about">
                        <a href="demo1.html" class="logo-footer">
                            <img src="../../assets/images/brand/IMG-20211117-WA0002.jpg" alt="logo-footer"  id="footerlogo" />
                        </a>
                        <div class="widget-body">
                            <p class="widget-about-title" id="font1">Got Question? Call us 24/7</p>
                            <a href="tel:18005707777" class="widget-about-call" id="font">1-800-570-7777</a>
                            <p class="widget-about-desc" id="font1">Register now to get updates on pronot get up icons
                                & coupons ster now toon.
                            </p>
                            
                            

                            <div class="social-icons social-icons-colored float-right" id="icon">
                                <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                                <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                                <a href="#" class="social-icon social-instagram w-icon-instagram"></a>
                                <a href="#" class="social-icon social-youtube w-icon-youtube"></a>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
               
                <div class="col-lg-3 col-sm-6" id="company1" >
                    <div class="widget">
                        <h4 class="widget-title" id="font">Company</h4>
                        <ul class="widget-body">
                            <li><a href="aboutus" id="font1">About Lummang</a></li>
                            
                            <li><a href="contact-us.html" id="font1">Contact</a></li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" id="company1">
                    <div class="widget">
                        <h4 class="widget-title" id="font">My Account</h4>
                        <ul class="widget-body">
                            
                            <li><a href="login.html" id="font1">Sign In</a></li>
                            <li><a href="#" id="font1">Product Listing</a></li>
                            <li><a href="wishlist.html" id="font1">My Wishlist</a></li>
                            <li><a href="cart.html" id="font1">View Cart</a></li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" id="company2">
                    <div class="widget">
                        <h4 class="widget-title"  id="font">Customer Service</h4>
                        <ul class="widget-body">
                            <li><a href="#" id="font1">Payment Methods</a></li>
                            
                            <li><a href="#" id="font1">Returns Policy</a></li>
                            <li><a href="#" id="font1">Privacy Policy</a></li>
                            <li><a href="#" id="font1">Term and Conditions</a></li>
                            <li><a href="#" id="font1">Support Center</a></li>
                            
                        </ul>
                    </div>
                
                    
                </div>
                
                <div class="footer-bottom">
                    <div class="footer-left">
                        <p class="copyright" id="font1">Copyrights © 2020-21. All rights reserved by <a   style="color: blue;">Lummang</a> || Design & Developed by : <a href="https://www.appman.in/"  style="color: blue;">Appman Technologies.</a> </p>
                    </div>
                    
                </div>
            </div>
        </div>
        
        
    </div>
</footer>

<!-- FOOTER END -->