<!doctype html>
<html lang="en" dir="ltr">
	<head>

		<!-- Meta data -->
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta content="Slica – Bootstrap Responsive Flat Admin Dashboard HTML5 Template" name="description">
		<meta content="Spruko Technologies Private Limited" name="author">
		<meta name="keywords" content="admin site template, html admin template,responsive admin template, admin panel template, bootstrap admin panel template, admin template, admin panel template, bootstrap simple admin template premium, simple bootstrap admin template, best bootstrap admin template, simple bootstrap admin template, admin panel template,responsive admin template, bootstrap simple admin template premium"/>

		<!--favicon -->
		<img src="../../assets/images/brand/IMG-20211117-WA0002.jpg" width="138px" height="50px" href="index.htnl"></a>
		<!-- TITLE -->
		<title>Lummang</title>

		<!-- DASHBOARD CSS -->
		<link href="../../assets/css/style.css" rel="stylesheet"/>
		<link href="../../assets/css/color-skins/color1.css" rel="stylesheet"/>
		<link href="../../assets/css/skins-modes.css" rel="stylesheet"/>

		<!--SIDEMENU CSS-->
		<link rel="stylesheet" href="../../assets/plugins/sidemenu/closed-sidemenu.css">

		<!--C3 CHARTS CSS -->
		<link href="../../assets/plugins/charts-c3/c3-chart.css" rel="stylesheet"/>

		<!-- TABS CSS -->
		<link href="../../assets/plugins/tabs/tabs-2.css" rel="stylesheet" type="text/css">

		<!-- P-SCROll CSS -->
		<link href="../../assets/plugins/p-scroll/p-scroll.css" rel="stylesheet" type="text/css">

		<!--- FONT-ICONS CSS -->
		<link href="../../assets/css/icons.css" rel="stylesheet"/>

		<!-- SIDEBAR CSS -->
		<link href="../../assets/plugins/right-sidebar/right-sidebar.css" rel="stylesheet">

	</head>

	<body class="app sidebar-mini">

	    <!-- GLOBAL-LOADER -->
		<div id="global-loader">
			<img src="../../assets/images/svgs/loader.svg" class="loader-img" alt="Loader">
		</div>

		<div class="page">
			<div class="page-main">
				<!-- HEADER -->
				<div class="header app-header">
					<div class="container-fluid">
						<div class="d-flex header-nav">
							<div>
								<img src="../../assets/images/brand/IMG-20211117-WA0002.jpg" width="138px" height="50px" href="index.html">
								<a href="index.html"></a>
							</div><!-- Color LOGO -->
							<a href="#" data-toggle="sidebar" class="nav-link icon toggle"><i class="fe fe-align-justify"></i></a>
							<div class="">
								<form class="form-inline">
									<div class="search-element">
										<input type="search" class="form-control header-search" placeholder="Search…" aria-label="Search" tabindex="1">
										<button class="btn btn-primary-color" type="submit"><i class="fe fe-search"></i></button>
									</div>
								</form>
							</div><!-- SEARCH -->
							<div class="d-flex order-lg-2 ml-auto header-right-icons header-search-icon">
								<div class="dropdown  search-icon">
									<a href="#" data-toggle="search" class="nav-link nav-link-lg d-md-none navsearch">
										<i class="fe fe-search"></i>
									</a>
								</div>
							    <div class="dropdown  header-fullscreen">
									<a class="nav-link icon full-screen-link nav-link-bg" id="fullscreen-button">
										<i class="fe fe-minimize" ></i>
									</a>
								</div><!-- FULL-SCREEN -->
								<div class="dropdown  notifications">
									<a class="nav-link icon" data-toggle="dropdown">
										<i class="fe fe-bell"></i>
										<span class="pulse bg-danger"></span>
									</a>
									<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
										<a href="#" class="dropdown-item mt-2 d-flex pb-3">
											<div class="notifyimg bg-info">
												<i class="fa fa-thumbs-o-up"></i>
											</div>
											<div>
												<h6 class="mb-1">Someone likes our posts.</h6>
												<div class="small text-muted">3 hours ago</div>
											</div>
										</a>
										<a href="#" class="dropdown-item d-flex pb-3">
											<div class="notifyimg bg-warning">
												<i class="fa fa-commenting-o"></i>
											</div>
											<div>
												<h6 class="mb-1"> 3 New Comments</h6>
												<div class="small text-muted">5  hour ago</div>
											</div>
										</a>
										<a href="#" class="dropdown-item d-flex pb-3">
											<div class="notifyimg bg-danger">
												<i class="fa fa-cogs"></i>
											</div>
											<div>
												<h6 class="mb-1"> Server Rebooted.</h6>
												<div class="small text-muted">45 mintues ago</div>
											</div>
										</a>
										<div class="border-top">
											<a href="#" class="dropdown-item text-center">View all Notification</a>
										</div>
									</div>
								</div><!-- NOTIFICATIONS -->
								<div class="dropdown  message">
									<a class="nav-link icon text-center" data-toggle="dropdown">
										<i class="fe fe-mail"></i>
										<span class=" nav-unread badge badge-warning badge-pill">6</span>
									</a>
									<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
										<a href="#" class="dropdown-item d-flex mt-2 pb-3">
											<div class="avatar avatar-md brround mr-3 d-block cover-image" data-image-src="../../assets/images/users/male/4.jpg">
												<span class="avatar-status bg-green"></span>
											</div>
											<div>
												<h6 class="mb-1">Lucas Walsh</h6>
												<p class="mb-0 fs-13 ">Hey! there I' am available</p>
												<div class="small text-muted">3 hours ago</div>
											</div>
										</a>
										<a href="#" class="dropdown-item d-flex pb-3">
											<div class="avatar avatar-md brround mr-3 d-block cover-image" data-image-src="../../assets/images/users/female/1.jpg">
												<span class="avatar-status bg-red"></span>
											</div>
											<div>
												<h6 class="mb-1">Rebecca Short</h6>
												<p class="mb-0 fs-13 ">New product Launching</p>
												<div class="small text-muted">5  hour ago</div>
											</div>
										</a>
										<a href="#" class="dropdown-item d-flex pb-3">
											<div class="avatar avatar-md brround mr-3 d-block cover-image" data-image-src="../../assets/images/users/female/8.jpg">
												<span class="avatar-status bg-yellow"></span>
											</div>
											<div>
												<h6 class="mb-1">Nicola Vance</h6>
												<p class="mb-0 fs-13">New Schedule Realease</p>
												<div class="small text-muted">45 mintues ago</div>
											</div>
										</a>
										<div class="border-top">
											<a href="#" class="dropdown-item text-center">See all Messages</a>
										</div>
									</div>
								</div><!-- MESSAGE-BOX -->
								<div class="dropdown header-user">
									<a href="#" class="nav-link icon" data-toggle="dropdown">
										<span><img src="../../assets/images/users/male/2.jpg" alt="profile-user" class="avatar brround cover-image mb-0 ml-0"></span>
									</a>
									<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
										<div class=" dropdown-header noti-title text-center border-bottom p-3">
											<div class="header-usertext">
												<h5 class="mb-1">Jacob Allan</h5>
												<p class="mb-0">Web Developer</p>
											</div>
										</div>
										<a class="dropdown-item" href="profile.html">
											<i class="mdi mdi-account-outline mr-2"></i> <span>My profile</span>
										</a>
										<a class="dropdown-item" href="#">
											<i class="mdi mdi-settings mr-2"></i> <span>Settings</span>
										</a>
										<a class="dropdown-item" href="#">
											<i class="fe fe-calendar mr-2"></i> <span>Activity</span>
										</a>
										<a class="dropdown-item" href="#">
											<i class="mdi mdi-compass-outline mr-2"></i> <span>Support</span>
										</a>
										<a class="dropdown-item" href="login.html">
											<i class="mdi  mdi-logout-variant mr-2"></i> <span>Logout</span>
										</a>
									</div>
								</div><!-- SIDE-MENU -->
								<div class="dropdown  header-fullscreen">
									<a class="nav-link icon sidebar-right-mobile" data-toggle="sidebar-right" data-target=".sidebar-right">
										<i class="fe fe-align-right" ></i>
									</a>
								</div><!-- Side menu -->
							</div>
						</div>
					</div>
				</div>
				<!-- HEADER END -->

					<!-- JQUERY SCRIPTS JS-->
    <script src="../../assets/js/vendors/jquery-3.2.1.min.js"></script>

    <!-- BOOTSTRAP SCRIPTS JS-->
    <script src="../../assets/js/vendors/bootstrap.bundle.min.js"></script>

    <!-- SPARKLINE JS -->
    <script src="../../assets/js/vendors/jquery.sparkline.min.js"></script>

    <!-- CHART-CIRCLE JS-->
    <script src="../../assets/js/vendors/circle-progress.min.js"></script>

    <!-- RATING STAR JS-->
    <script src="../../assets/plugins/rating/rating-stars.js"></script>

    <!-- POPOVER JS -->
    <script src="../../assets/js/popover.js"></script>

    <!-- CHARTJS CHART JS-->
    <script src="../../assets/plugins/chart/chart.bundle.js"></script>
    <script src="../../assets/plugins/chart/utils.js"></script>

    <!-- PIETY CHART JS-->
    <script src="../../assets/plugins/peitychart/jquery.peity.min.js"></script>
    <script src="../../assets/plugins/peitychart/peitychart.init.js"></script>
    <script src="../../assets/plugins/peitychart/peitychart.js"></script>

    <!--SIDEMENU JS-->
    <script src="../../assets/plugins/sidemenu/icon-sidemenu.js"></script>

    <!-- SIDEMENU-RESPONSIVE-TABS JS-->
    <script src="../../assets/plugins/sidemenu-responsive-tabs/js/sidemenu-responsive-tabs.js"></script>

    <!--LEFT-MENU JS-->
    <script src="../../assets/js/left-menu.js"></script>

    <!-- P-SCROLL JS -->
    <script src="../../assets/plugins/p-scroll/p-scroll.js"></script>
    <script src="../../assets/plugins/p-scroll/p-scroll-1.js"></script>

    <!-- COUNTERS JS-->
    <script src="../../assets/plugins/counters/counterup.min.js"></script>
    <script src="../../assets/plugins/counters/waypoints.min.js"></script>
    <script src="../../assets/plugins/counters/counters-1.js"></script>

    <!-- SIDEBAR JS -->
    <script src="../../assets/plugins/right-sidebar/right-sidebar.js"></script>

    <!-- INDEX-SCRIPTS  JS-->
    <script src="../../assets/js/index.js"></script>

    <!-- CUSTOM JS -->
    <script src="../../assets/js/custom.js"></script>

</body>
</html>